page-settings {

         #box {
            border: 0.5px solid rgba(0, 0, 0, 0.595);
        }
   
        ion-input{
            margin: 5px; 
        }

        ion-label{
            width: 120px;
            font-size: 16px;
        }

        h4{
            color: rgb(44, 44, 44);
            margin-left: 15px;
            margin-top:30px;
        }

        
}
